# NetBeans specific #
**nbproject/private/
**build/
**nbbuild/
**dist/
**nbdist/
**nbactions.xml
**nb-configuration.xml
**.nb-gradle/


# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

!sm.sound.v2.jar
!sm.image.jar
!jmf.jar
!customizer.jar
!mediaplayer.jar
!multiplayer.jar
!sound.jar
!bridj-0.7.0.jar
!slf4j.jar
!webcam-capture-0.3.11.jar
!logback.jar
